/* Default Site Template */

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #4b2e83;
}

#content {
  text-align: center;
  color: white;
}

h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

h4, p {
  text-align: left;
}

h4 {
  margin-left: 25px;
  margin-right: 25px;
}

#end {
  margin-bottom: 25px;
}

/* Navbar */

.navbar-default {
  background-color: white;
  height: 100px;
  width: 100%;
  border-radius: 0;
}

#slogan {
  color: #b7a57a;
  font-style: italic;
  text-decoration: bold;
  font-size: 24px;
  margin-left: 50px;
}

#nav-right {
  float: right;
}

#logo {
  height: 75px;
  width: 150px;
}

#menu {
  color: #4b2e83;
}

#comm {
  height: 30px;
  width: 30px;
}

/* Tables */

table {
  width: 90%;
  margin-bottom: 20px;
}

table, td, th {
  border: 2px solid #b7a57a;
  border-collapse: collapse;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

/* Landing Page */

#banner {
  width: 225px;
  height: 581.25px;
  margin-top: -20px;
  float: left;
}

/* About Page */

#about-slogan {
  color: #b7a57a;
  font-style: italic;
  text-decoration: bold;
  margin-bottom: 20px;
}

#about {
  width: 600px;
  height: 400px;
}

#bea {
  margin-left: 10px;
}

/* Officers Page */

#mug {
  width: 250px;
  height: 250px;
  margin-top: 25px;
  margin-right: 25px;
  float: right;
}

#name {
  color: #b7a57a;
  text-align: left;
}

#bio {
  margin-right: 25px;
}

/* Awards Page */

#2013 {
  height: 100px;
  width: 100px;
}

#2016 {
  width: 500px;
  height: 281.7px;
}

#award {
  text-align: center;
  color: #b7a57a;
}

/* Events Page */

#disclaimer {
  font-style: italic;
  text-align: center;
}

/* Partners Page */

#foster {
  width: 450px;
  height: 150px;
  margin-top: 50px;
}

#uw {
  width: 297px;
  height: 200px;
  margin-top: 50px;
}

/* Membership Page */

#free {
  color: #b7a57a;
  font-style: italic;
}

#ms {
  margin-left: 250px;
  margin-bottom: 50px;
}

#three {
  margin-left: 25px;
}

#involve {
  color: #b7a57a;
  font-weight: bold;
}

#sinegal, #commit, #help {
  margin-top: 25px;
  width: 225px;
  height: 150px;
}

/* Officer App Page */

#closed {
  color: #b7a57a;
  font-style: italic;
}

#return {
  margin-left: 250px;
  margin-bottom: 50px;
}

#team {
  width: 800px;
  height: 450px;
  margin-bottom: 25px;
}
