/* Default Site Template */

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #4b2e83;
}

#content {
  text-align: center;
  color: white;
}

h1 {
  padding-bottom: 10px;
}

p {
  text-align: left;
}

/* Navbar */

.navbar-default {
  background-color: white;
  height: 100px;
  width: 100%;
  border-radius: 0;
}

#slogan {
  color: #b7a57a;
  font-style: italic;
  text-decoration: bold;
  font-size: 24px;
  margin-left: 50px;
}

#nav-right {
  float: right;
}

#logo {
  height: 75px;
  width: 150px;
}

#menu {
  color: #4b2e83;
}

#comm {
  height: 30px;
  width: 30px;
}

/* Tables */

table {
  width: 90%;
  margin-bottom: 20px;
}

table, td, th {
  border: 2px solid #b7a57a;
  border-collapse: collapse;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

/* About Page */

#about-slogan {
  color: #b7a57a;
  font-style: italic;
  text-decoration: bold;
  margin-bottom: 20px;
}

#about {
  width: 600px;
  height: 400px;
}

/* Officers Page */

#officer {
  text-decoration: underline;
}

#mug {
  width: 250px;
  height: 250px;
  margin-top: 25px;
}

#name {
  color: #b7a57a;
  text-align: left;
}

/* Events Page */

#disclaimer {
  font-style: italic;
}

/* Speakers Page */

