<div id="content">
  <h1 id="about-slogan">Success follows Integrity.</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <p id="bea">The main objective for every business is to generate profit; however, does that translate directly into success?</p>
        <p id="bea">Take a look at some of America’s most profitable companies, such as Alaska Airlines, Costco, and Starbucks. Alaska Airlines prides itself on delivering excellent customer service. Costco believes in providing high quality products for its members. Starbucks focuses on ethical sourcing for its wildly popular coffee. What do these three companies have in common? They commit to integrity.</p>
        <p id="bea">Bottom line is – Success follows Integrity.</p>
        <p id="bea">Business Ethics Association (BEA) members and alumni believe that ethics matters. When you stop by a BEA meeting, you’ll either listen to a business leader emphasize the importance of personal morals and values, partake in an open-ended discussion on some of the world’s ethical issues, or socialize and network with students who believe that ethics matters in business.</p>
        <p id="bea">As a registered student organization (RSO) at both University of Washington and UW’s Foster School of Business, BEA strives to spread awareness of ethics not just in the workplace, but in everyday decisions and lives. Whether you’re a business, engineering, or any other major, BEA welcomes anyone who simply desires to make the world a better place.</p>
      </div>
      <div class="col-md-6">
        <img id="about" src="img/officers/officer-1215.jpg"></img>
      </div>
    </div>
  </div>
</div>