<div id="content">
  <h1 id="event">BEA AMAZING RACE</h1>
  <h2 id="ar">DATE TBD</h2>
  <div class="container-fluid">
    <div class="row" id="end">
      <h4 id="left-q">Based off of the CBS TV series Amazing Race, BEA hosts a UW style consisting of running around campus and pushing through numerous challenges to race to the finish line! Will your team be the first to make it to the end???</h4>
    </div>
    <div class="row" id="end">
      <div class="col-md-6">
        <img id="racers" src="img/ar/team-2016.JPG"></img>
      </div>
      <div class="col-md-6">
        <img id="canoe" src="img/ar/canoe.jpg"></img>
      </div>
    </div>
    <div class="row" id="end">
      <div class="col-md-6">
        <img id="wb" src="img/ar/wheelbarrow-2016.JPG"></img>
      </div>
      <div class="col-md-6">
        <img id="yoga" src="img/ar/yoga2-2016.JPG"></img>
      </div>
    </div>
    <div class="row" id="end">
      <div class="col-md-6">
        <img id="win" src="img/ar/winner-2016.JPG"></img>
      </div>
      <div class="col-md-6">
        <h4 id="left">Interested in participating, volunteering, or getting involved? Email us at huskybea@gmail.com!</h4>
      </div>
    </div>
  </div>
</div>