<div id="content">
  <h1>AWARDS</h1>
  <h4 id="end">Despite being a small organization, BEA's impact in the business school is large. BEA has consistently been recognized by Foster School of Business for its successful events and intimate community.</h4> 
  <div class="container-fluid">
    <div class="row" id="end">
      <div class="col-md-6">
        <img id="2016" src="img/other/award-2016.jpg"></img>
        <h4 id="award">2016 Dean's Leadership Award</h4>
      </div>
      <div class="col-md-6">
        <img id="2013" src="img/other/award-2013.jpg"></img>
        <h4 id="award">2013 Dean's Honorable Mention Award</h4>
      </div>
    </div>
  </div>
</div>