<div id="content">
  <h1 id="event">BEA ETHICS CASE COMPETITION</h1>
  <h2 id="cc">KICKOFF TUESDAY, MAY 15TH | COMPETITION FRIDAY, MAY 18TH</h2>
  <h2 id="cc"><a>CLICK HERE TO REGISTER (DEADLINE 5/15)</a></h2>
  <div class="container-fluid">
    <div class="row" id="end">
      <div class="col-md-6">
        <h4 id="left-q">Are you ethical? Love competing in case competitions? Trying to save and win money?</h4>
        <h4 id="right">...then we have the perfect event for you! BEA hosts an annual Ethics Case Competition during UW Foster's Business Week in May!</h4>
        <h4 id="right">Unlike most case competitions, our registration is free and requires minimal business knowledge and experience. Thus, anyone is invited to participate!</h4> 
      </div>
      <div class="col-md-6">
        <img id="flyer" src="img/cc/flyer-2018.png"></img>
      </div>
    </div>
    <div class="row" id="end">
      <div class="col-md-6">
        <img id="present" src="img/cc/case1-2016.JPG"></img>
      </div>
      <div class="col-md-6">
        <h4 id="left">BEA's Ethics Case Competition is a 2 person, 72 hour competition. Kickoff occurs Tuesday night in one of the rooms at Foster. In addition to distributing the case, Foster's own business ethics professor Scott Reynolds also hosts an ethics workshop to prepare teams on how to tackle the case.</h4>
        <h4 id="left">Teams have the remaining time between kickoff and Friday to design their solutions, slide decks, and presentations. Slides are due Thursday night (the day before presenting).</h4>
      </div>
    </div>
    <div class="row" id="end">
      <div class="col-md-6">
        <h4 id="right">Presentations begin Friday morning. Teams are split into groups for the preliminary round and present in front of a panel of two or three judges. Judges are usually business school professors or professionals in the Seattle area. After prelims, all participants, volunteers, and judges are invited to a free catered lunch for food and networking. During lunch, the scores are tallied and finalists are announced after lunch!</h4>
      </div>
      <div class="col-md-6">
        <img id="finalists" src="img/cc/finalist-2016.JPG"></img>
      </div>
    </div>
    <div class="row" id="end">
      <div class="col-md-6">
        <img id="winners" src="img/cc/winner-2016.JPG"></img>
      </div>
      <div class="col-md-6">
        <h4 id="left">Once finalists are selected, the final round commences in the afternoon in front of a panel of three successful business professionals. After the final round, the judges discuss and select the winners. Winners are announced after selection and prizes are handed out!</h4>
        <h4 id="left">Both participants and volunteers are needed, so this is a great way to get involved with BEA. We hope to see you at the next competition!</h4>
        <h4 id="left-q">Questions? Email huskybea@gmail.com.</h4>
      </div>
    </div>
  </div>
</div>