<div id="content">
  <div><h1 id="calendar">AUTUMN 2016 CALENDAR</h1></div>
  <table align="center">
    <tr>
      <th>DATE</th>
      <th>EVENT</th>
      <th>TIME</th>
      <th>LOCATION</th> 
    </tr>
    <tr>
      <td id="past">Tuesday, October 4th</td>
      <td id="past">FALL QUARTER KICKOFF (BUDDY WADDINGTON, FOUNDER OF BEA)</td>
      <td id="past">6:00 PM</td>
      <td id="past">SMITH 105</td>
    </tr>
    <tr>
      <td id="past">Tuesday, October 11th</td>
      <td id="past">ETHICAL DISCUSSION</td>
      <td id="past">6:00 PM</td>
      <td id="past">SMITH 105</td>
    </tr>
    <tr>
      <td id="past">Tuesday, October 18th</td>
      <td id="past">GUEST SPEAKER - MARK WORKING, OWNER OF ZACHARY SCOTT</td>
      <td id="past">6:00 PM</td>
      <td id="past">SMITH 105</td>
    </tr>
    <tr>
      <td id="past">Tuesday, October 25th</td>
      <td id="past">NO MEETING (VOLUNTEER WEEK)</td>
      <td id="past">N/A</td>
      <td id="past">N/A</td>
    </tr>
    <tr>
      <td id="past">Friday, October 28th</td>
      <td id="past">VOLUNTEER - NORTHACRES PARK</td>
      <td id="past">11:30 AM</td>
      <td id="past">NORTHACRES PARK</td>
    </tr>
    <tr>
      <td id="current">Tuesday, November 1st</td>
      <td id="current">POST-HALLOWEEN SOCIAL</td>
      <td id="current">6:00 PM</td>
      <td id="current">SMITH 105</td>
    </tr>
    <tr>
      <td>Tuesday, November 8th</td>
      <td>ETHICAL DISCUSSION</td>
      <td>6:00 PM</td>
      <td>SMITH 105</td>
    </tr>
    <tr>
      <td>Tuesday, November 15th</td>
      <td>GUEST SPEAKER - CHRIS NELSON, ANTI-TRUST LAWYER AT MICROSOFT</td>
      <td>6:00 PM</td>
      <td>SMITH 105</td>
    </tr>
    <tr>
      <td>Tuesday, November 22nd</td>
      <td>NO MEETING (THANKSGIVING WEEK)</td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Tuesday, November 29th</td>
      <td>GUEST SPEAKER - KEMPER FREEMAN, CEO OF KEMPER DEVELOPMENT COMPANY</td>
      <td>6:00 PM</td>
      <td>TBD</td>
    </tr>
    <tr>
      <td>Tuesday, December 6th</td>
      <td>DEAD WEEK DINNER OUTING</td>
      <td>6:00 PM</td>
      <td>TBD</td>
    </tr>
  </table>
  <div id="end">  
    <p id="disclaimer">(Dates and events are subject to change)</p>
  </div>  
</div>