<div id="content">
  <div><h1 id="calendar">SPRING 2017 CALENDAR</h1></div>
  <table align="center">
    <tr>
      <th>DATE</th>
      <th>EVENT</th>
      <th>TIME</th>
      <th>LOCATION</th> 
    </tr>
    <tr>
      <td id="current">Tuesday, March 28th</td>
      <td id="current">NO MEETING (SYLLABUS WEEK)</td>
      <td id="current">N/A</td>
      <td id="current">N/A</td>
    </tr>
    <tr>
      <td id="current">Tuesday, April 4th</td>
      <td id="current">ETHICAL DISCUSSION</td>
      <td id="current">6:00 PM</td>
      <td id="current">TBD</td>
    </tr>
    <tr>
      <td id="current">Tuesday, April 11th</td>
      <td id="current">SPRING SOCIAL</td>
      <td id="current">6:00 PM</td>
      <td id="current">TBD</td>
    </tr>
    <tr>
      <td id="current">Tuesday, April 18th</td>
      <td id="current">GUEST SPEAKER - PATRICK BAJARI, AMAZON</td>
      <td id="current">6:00 PM</td>
      <td id="current">TBD</td>
    </tr>
    <tr>
      <td id="current">Tuesday, April 25th</td>
      <td id="current">GUEST SPEAKER - OLGA YANG, PHLY INSURANCE COMPANY</td>
      <td id="current">6:00 PM</td>
      <td id="current">TBD</td>
    </tr>
    <tr>
      <td id="current">Tuesday, May 2nd</td>
      <td id="current">SERVICE PROJECT (TBD)</td>
      <td id="current">6:00 PM</td>
      <td id="current">TBD</td>
    </tr>
    <tr>
      <td id="current">Tuesday, May 9th</td>
      <td id="current">GUEST SPEAKER - FORTUNATO VEGA, WALL STREET COMMUNICATIONS</td>
      <td id="current">6:00 PM</td>
      <td id="current">TBD</td>
    </tr>
    <tr>
      <td id="current">Tuesday, May 16th</td>
      <td id="current">KICKOFF - ETHICS CASE COMPETITION</td>
      <td id="current">6:00 PM</td>
      <td id="current">TBD</td>
    </tr>
    <tr>
      <td id="current">Friday, May 19th</td>
      <td id="current">BEA ETHICS CASE COMPETITION</td>
      <td id="current">TBD</td>
      <td id="current">TBD</td>
    </tr>
    <tr>
      <td id="current">Tuesday, May 23rd</td>
      <td id="current">DINNER OUTING (SENIOR NIGHT)</td>
      <td id="current">6:00 PM</td>
      <td id="current">TBD</td>
    </tr>
  </table>
  <div id="end">  
    <p id="disclaimer">(Dates and events are subject to change)</p>
  </div>  
</div>