<div id="content">
  <div><h1 id="calendar">AUTUMN 2016 CALENDAR</h1></div>
  <table align="center">
    <tr>
      <th>DATE</th>
      <th>EVENT</th>
      <th>TIME</th>
      <th>LOCATION</th> 
    </tr>
    <tr>
      <td>October 4th</td>
      <td>FALL QUARTER KICKOFF</td>
      <td>6:00pm</td>
      <td>SMITH 105</td>
    </tr>
    <tr>
      <td>October 11th</td>
      <td>TBD</td>
      <td>6:00pm</td>
      <td>SMITH 105</td>
    </tr>
    <tr>
      <td>October 18th</td>
      <td>GUEST SPEAKER - MARK WORKING, OWNER OF ZACHARY SCOTT</td>
      <td>6:00pm</td>
      <td>SMITH 105</td>
    </tr>
    <tr>
      <td>October 25th</td>
      <td>TBD</td>
      <td>6:00pm</td>
      <td>SMITH 105</td>
    </tr>
    <tr>
      <td>November 1st</td>
      <td>POST-HALLOWEEN SOCIAL</td>
      <td>6:00pm</td>
      <td>SMITH 105</td>
    </tr>
    <tr>
      <td>November 8th</td>
      <td>VOLUNTEER (TBD)</td>
      <td>TBD</td>
      <td>TBD</td>
    </tr>
    <tr>
      <td>November 15th</td>
      <td>TBD</td>
      <td>6:00pm</td>
      <td>SMITH 105</td>
    </tr>
    <tr>
      <td>November 22nd</td>
      <td>NO MEETING</td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>November 29th</td>
      <td>TBD</td>
      <td>6:00pm</td>
      <td>SMITH 105</td>
    </tr>
    <tr>
      <td>December 6th</td>
      <td>DEAD WEEK DINNER OUTING</td>
      <td>6:00pm</td>
      <td>TBD</td>
    </tr>
  </table>
  <div id="end">  
    <p id="disclaimer">(Dates and events are subject to change)</p>
  </div>  
</div>