<div id="content">
  <img id="banner" src="img/icons/banner.jpg"></img>
  <h1>Welcome to BEA!</h1>
  <h3 id="headline">The BEA Officers hope all of you are enjoying summer break! We'll be tabling in Paccar Hall and on Red Square when you return back to UW!</h2>
  <h2 id="divider">-------</h2>
  <h2 id="next">2016 BEA FALL KICKOFF</h2>
  <h4 id="promo">Join us for our first meeting of the year! You'll hear from the officer team and alumni about the opportunities BEA has to offer for all students. Food, drinks, and networking will be provided!</h4>
  <h3 id="logistics">Tuesday, October 4th, 2016 in Room TBD</h3>
</div>