<div id="content">
  <img id="banner" src="img/icons/banner.jpg"></img>
  <h2 id="free">Membership is free.</h2>
  <h4 id="ms">BEA doesn't believe in having to pay for your dose of ethics. Below are three ways you can get involved with BEA without being an officer!</h4>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" id="three">
        <h3 id="involve">Meetings.</h3>
        <p>There are three different kinds of meetings we host on Tuesdays at 6pm - ethical discussion, speaker, and social meetings. Feel free to join in at any of our meetings!</p>
        <img id="sinegal" src="img/meetings/sinegal1.jpg"></img>
      </div>
      <div class="col-md-3" id="three">
        <h3 id="involve">Committees.</h3>
        <p>BEA hosts two large events during spring quarter - Ethics Case Competition and Amazing Race. Planning for these two events begin early during fall quarter, and anyone interested can join one or both these committees!</p>
        <img id="commit" src="img/ar/volunteer-2016.jpg"></img>
      </div>
      <div class="col-md-3" id="three">
        <h3 id="involve">Volunteering.</h3>
        <p>Not only do we believe in ethical business practices, we also believe in giving back. Starting this year, BEA will host one volunteer event meeting each quarter. Join us for a good cause and great company!</p>
        <img id="help" src="img/cc/team-2016.jpg"></img>  
      </div>
    </div>
  </div>
</div>