<div id="content">
  <h1 id="event">2017-18 BEA MENTORSHIP PROGRAM</h1>
  <h3 id="ar"><a href="https://docs.google.com/forms/d/e/1FAIpQLScn1rDGL1wt1JSLREGB5igTEFXS-VQcDwTtDxi8qPx_LG9sMQ/viewform?usp=sf_link">DEADLINE TO APPLY: FRIDAY, OCTOBER 13TH, 2017</a></h3>
  <h3 id="ar">MENTORSHIP MEET &amp; GREET: TUESDAY, OCTOBER 17TH, 2017</h3>
  <div class="container-fluid">
    <div class="row" id="end">
      <div class="col-md-6">
        <img id="flyer" src="img/other/mentorship.jpg"></img>
      </div>
      <div class="col-md-6">
        <h4 id="left-q">Looking for a mentor who will help guide you academically and professionally?</h4>
        <h4 id="left-q">We have the perfect program for you! BEA is hosting its inaugural Mentorship Program. Mentees who are ideally Freshmen and Sophomores will be paired up with a mentor who is either a BEA Officer or a BEA Alum based on career path and mutual interests. Mentees and mentors will meet throughout the school year depending on availability, and BEA will be hosting a few events for mentees and mentors to connect with one another.</h4>
        <h4 id="left-q">Benefits to this program include having the opportunity to interact with upperclassmen and recent graduates who are making/made it through college, which is a great opportunity to ask mentors not just career questions, but academic questions as well. Speaking of which, the program emphasizes a safe space for mentees to ask mentors questions.</h4> 
      </div>
    </div>
    <div class="row" id="end">
      <div class="col-md-6">
        <h4 id="left-q">Want to join as a mentee? <a href="https://docs.google.com/forms/d/e/1FAIpQLScn1rDGL1wt1JSLREGB5igTEFXS-VQcDwTtDxi8qPx_LG9sMQ/viewform?usp=sf_link">Click here</a> to complete a survey that will help our team match you with one of our mentors!</h4>
        <h4 id="right">Email huskybea@gmail.com with any questions regarding the program!</h4> 
      </div>
      <div class="col-md-6">
        <img id="flyer" src="img/officers/officer-2016.jpg"></img>
      </div>
    </div>
  </div>
</div>