<div id="content">
  <img id="banner" src="img/icons/banner.jpg"></img>
  <h2 id="closed">Officer applications are now open!</h2>
  <h4 id="return">Please fill out an application via the link below! The deadline for all positions is Friday, March 30th, 2018. Job descriptions are also listed below!</h4>
  <h5><a href="https://goo.gl/forms/1xXWqEh7FEVIhSQ72">CLICK HERE TO ACCESS APPLICATION</a></h5>
  <h5><a href="img/requisitions/JP_CMO.pdf">CHIEF MARKETING OFFICER (CMO) JOB DESCRIPTION</a></h5>
  <h5><a href="img/requisitions/JP_BA.pdf">BRAND AMBASSADOR (BA) JOB DESCRIPTION</a></h5>
  <img id="team" src="img/officers/officer-1016.JPG"></img>
</div>