<div id="content">
  <div><h1>2016 OFFICER TEAM</h1></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/jamie.jpg"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Jamie Leitzke | President</h2>
        <p id="bio">Jamie is often the external face of the club and will be managing the vision, strategy and progress of BEA. </p>
        <p id="bio">Hello! I’m in my fifth year studying Accounting and Finance. I fell in love with BEA my freshman year when I experienced the tight-knit nature of the community. Since joining, I have had so many opportunities to learn about ethics, expand my network, and develop essential leadership skills. Stop by and say hi! We love meeting new members!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/filler.png"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Tilda Fellin | Vice President</h2>
        <p id="bio">Tilda will be supporting the President and heading projects for the club.</p>
        <p id="bio">Hello! I’m a sophomore in the Foster School of Business minoring in Korean Language. I was first drawn to BEA because of its close-knit community, which is one of the main reasons that I have stayed and committed to help spread the importance of ethics. The other BEA officers and I are excited to inspire our fellow members to be ethical. The skills I have learned and will continue to learn as a part of BEA will take me far in being a successful leader with integrity.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/filler.png"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Jack Wiken | Chief Operating Officer</h2>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/josh.jpg"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Josh Helfgott | Chief Accounting Officer</h2>
        <p id="bio">Josh will secure funding for the club's operations and events and will record and monitor the club's financial position.</p>
        <p id="bio">Hello! My name is Josh, and I am in my last year at UW studying Accounting and Finance. I am excited to be the Chief Accounting Officer of BEA! I have found my time at BEA to be both valuable and enjoyable. This organization has provided me with a strong community and has helped me to grow both personally and professionally. I hope to see you at a meeting!</p>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/filler.png"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Amy Dong | Chief Financial Officer</h2>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/kevin.jpg"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Kevin Chen | Chief Information Officer</h2>
        <p id="bio">Kevin manages BEA's communications and technology, including Facebook, email, and the website.</p>
        <p id="bio">Hey there! My name is Kevin and I'm a third year student studying Supply Chain Management and Informatics. This is my second year representing BEA as an officer and I strive to continue spreading awareness of business ethics around campus. Getting involved with BEA the past two years has helped me develop my leadership, networking, and public speaking capabilities. I hope to take the knowledge I gain and pursue a career either in human resources, project management, and/or supply chain management.</p>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/filler.png"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Sarah Wayne | Chief Marketing Officer</h2>
        <p id="bio">Sarah will be responsible for advertising materials such as flyers and branding.</p>
        <p id="bio">Hello, I’m Sarah and I am currently a sophomore pursing a degree in marketing. I came to UW hoping to get involved with a club in Foster and when I found BEA I felt right at home. I think BEA is a great club for everyone, regardless of major, because it provides an opportunity for members to learn and explore ethics within a smaller community of people here at the University of Washington.</p>
      </div>
    </div> 
    <div class="row" id="end">
      <div class="col-md-3">
        <img id="mug" src="img/officers/jiajun.jpg"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Jiajun Luo | Chief Program Officer</h2>
        <p id="bio">JiaJun will be building out opportunities for you to get involved quarter after quarter.</p>
        <p id="bio">Hi there. My name is Jiajun, and I am a 3rd year economics student. BEA was the place where I gained more business knowledge and improved in virtue at the same time. BEA has speakers and discussion sessions every week on how to become ethically successful in business and life. Come and join us, I believe that you will learn something new.</p>
      </div>
    </div>       
  </div>
</div>