<div id="content">
  <div><h1 id="officer">BEA OFFICER TEAM</h1></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <img id="mug" src="img/officers/jamie.jpg"></img>
      </div>
      <div class="col-md-8">
        <h2 id="name">Jamie Leitzke | President</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h2 id="name">Tilda Fellin | Vice President</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h2 id="name">Jack Wiken | Chief Operating Officer</h2>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-4">
        <img id="mug" src="img/officers/josh.jpg"></img>
      </div>
      <div class="col-md-8">
        <h2 id="name">Josh Helfgott | Chief Accounting Officer</h2>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h2 id="name">Amy Dong | Chief Financial Officer</h2>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-4">
        <img id="mug" src="img/officers/kevin.jpg"></img>
      </div>
      <div class="col-md-8">
        <h2 id="name">Kevin Chen | Chief Information Officer</h2>
        <p id="bio">Kevin will manage communications and technology, including Facebook, email, and the website.</p>
        <p id="bio">Hey there! My name is Kevin and I'm a third year student at the UW studying Supply Chain Management and Informatics. This is my second year representing BEA as an officer and I strive to continue spreading awareness of business ethics. Getting involved with BEA the past two years has helped me develop my leadership, networking, and public speaking capabilities and I encourage anyone to stop by our meetings. I hope to take the knowledge I gain and pursue a career either in human resources, project management, and/or supply chain management.</p>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <h2 id="name">Sarah Wayne | Chief Marketing Officer</h2>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-4">
        <img id="mug" src="img/officers/jiajun.jpg"></img>
      </div>
      <div class="col-md-8">
        <h2 id="name">Jiajun Luo | Chief Program Officer</h2>
      </div>
    </div>       
  </div>
</div>