<div id="content">
  <img id="banner" src="img/icons/banner.jpg"></img>
  <h1>2017-18 OFFICER APPLICATIONS ARE NOW OPEN!</h1>
  <h2 id="free">APPLICATION DEADLINE - FRIDAY, MARCH 31ST, 2017</h2>
  <h4 id="return">Click on the open positions below to view the job descriptions!</h4>
  <h2 id="involve"><a href="img/requisitions/JP_COO.pdf">Chief Operations Officer (COO)</a></h2>
  <h2 id="involve"><a href="img/requisitions/JP_CFO.pdf">Chief Financial Officer (CFO)</a></h2>
  <h2 id="involve"><a href="img/requisitions/JP_CIO.pdf">Chief Information Officer (CIO)</a></h2>
  <h4 id="return2">To apply, please complete our application form <a href="https://goo.gl/forms/igmHMlJ4Qyv91QXk2">here</a>.</h4>
  <h4 id="return">Resumes and questions may be emailed to <a href="mailto:huskybea@gmail.com">huskybea@gmail.com</a>.</h4>
</div>