<div id="content">
  <div><h1>2017-18 OFFICER TEAM</h1></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/kevin.jpg"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Kevin Chen | President</h2>
        <p id="bio">Kevin is often the external face of the club and will be managing the vision, strategy and progress of BEA.</p>
        <p id="bio">Hey there! My name is Kevin and I'm a senior studying Operations &amp; Supply Chain Management and Informatics. This is my third year representing BEA as an officer and I strive to continue spreading awareness of business ethics around campus. Getting involved with BEA the past three years has helped me develop my leadership, networking, and public speaking capabilities. I hope to take the knowledge I gain and pursue a career in project management.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/tilda.JPG"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Tilda Fellin | Vice President (VP)</h2>
        <p id="bio">Tilda will be supporting the President and heading projects for the club.</p>
        <p id="bio">Hello! I’m a junior in the Foster School of Business minoring in Korean Language. I was first drawn to BEA because of its close-knit community, which is one of the main reasons that I have stayed and committed to help spread the importance of ethics. The other BEA officers and I are excited to inspire our fellow members to be ethical. The skills I have learned and will continue to learn as a part of BEA will take me far in being a successful leader with integrity.</p>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/sabrina.jpg"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Sabrina DeBont | Chief Operating Officer (COO)</h2>
        <p id="bio">Sabrina will be working with general operations and logistics; keeping us running like clockwork.</p>
        <p id="bio">Hi my name is Sabrina! I am currently a Senior studying Finance. I got involved with BEA a year ago and really enjoyed how close knit and fun the group was! I am so excited for this year and all the new members.</p>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/sarah.JPG"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Sarah Wayne | Chief Marketing Officer (CMO)</h2>
        <p id="bio">Sarah will be responsible for advertising materials such as flyers and branding.</p>
        <p id="bio">Hello, I’m Sarah and I am currently a Junior pursuing a degree in marketing and information systems. I came to UW hoping to get involved with a club in Foster and when I found BEA I felt right at home. I think BEA is a great club for everyone, regardless of major, because it provides an opportunity for members to learn and explore ethics within a smaller community of people here at the University of Washington. I hope to see you at one of our meetings!</p>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/ramsey.jpg"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Ramsey Qutob | Chief Financial Officer (CFO)</h2>
        <p id="bio">Ramsey will keep the club fiscally responsible and manage the budget for the year.</p>
        <p id="bio">Hi, I’m Ramsey. I am a 3rd year student at the UW, majoring in accounting. I live in Renton, so I have been a commuter my entire time here, but I find ways to enjoy time on campus like shooting pool in the HUB or attending BEA meetings. Originally, I am from Chicago, so I am a Bears fan, not a Seahawks fan. I like nature, but only for about 5 minutes, so most things I like to do are indoors like swimming, playing pool, and questioning my decisions.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img id="mug" src="img/officers/sam.jpg"></img>
      </div>
      <div class="col-md-9">
        <h2 id="name">Sam Erichsen | Brand Ambassador (BA)</h2>
        <p id="bio">Sam will assist BEA with community outreach and program implementation initiatives.</p>
        <p id="bio">Hi, my name is Sam and I’m a sophomore here at UW! I’m currently majoring in accounting and finance and am hoping to graduate as a CPA. I joined the BEA towards the end of my freshman year and the friendly community and support made the BEA feel more like a family than a club to me. With my expanded role in the BEA I will strive to continue the close-knit community and to support the practice of ethical decision-making in business!</p>
      </div>
    </div>  
    <div class="row" id="end">
      <div class="col-md-3">
        <img id="mug" src="img/officers/kathryn.jpg"></img>
      </div>
    <div class="col-md-9">
        <h2 id="name">Kathryn Owen | Brand Ambassador (BA)</h2>
        <p id="bio">Kathryn will assist BEA with community outreach and program implementation initiatives.</p>
        <p id="bio">Hi my name is Kathryn! I am currently a Sophomore studing Accounting. I got involved in BEA at the end of my freshman year and got hooked by how friendly and welcoming the members were, as well as how valuable the speakers and discussions we had were. I am excited to serve a greater role and help give new BEA members that same level of encouragement this year!</p>
      </div>
    </div>    
  </div>
</div>