<div id="content">
  <h1>PARTNERS</h1>
  <h4 id="end">BEA is proud to be a Registered Student Organization (RSO) of two successful and world-class institutions - Michael G. Foster School of Business and University of Washington.</h4>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <a href="http://foster.uw.edu/"><img id="foster" src="img/icons/foster.png"></a>
      </div>
      <div class="col-md-6">
        <a href="http://www.washington.edu/"><img id="uw" src="img/icons/uw.png"></a>
      </div>
    </div>
  </div>
</div>