<div id="content">
  <div>
  <h1>PAST SPEAKERS</h1>  
  <table align="center">
    <tr>
      <th>NAME</th>
      <th>TITLE</th>
      <th>COMPANY</th>
      <th>DATE</th>
    </tr>
    <tr>
      <td>James Sinegal</td>
      <td>Co-Founder, Former CEO</td>
      <td>Costco</td>
      <td>12/01/2015</td>      
    </tr>
    <tr>
      <td>Scott Foreman</td>
      <td>Managing Director</td>
      <td>Copacino + Fujikado</td> 
      <td>01/24/2017</td>      
    </tr>
    <tr>
      <td>David Griswold</td>
      <td>Chief Compliance Officer</td>
      <td>Pacific Current Group</td> 
      <td>01/11/2017</td> 
    </tr>
    <tr>
      <td>Kemper Freeman</td>
      <td>Chief Executive Officer</td>
      <td>Kemper Development Company</td>
      <td>11/29/2016</td>      
    </tr>
    <tr>
      <td>Chris Nelson</td>
      <td>Assistant General Counsel</td>
      <td>Microsoft</td> 
      <td>11/15/2016</td> 
    </tr>
    <tr>
      <td>Mark Working</td>
      <td>Owner</td>
      <td>Zachary Scott</td> 
      <td>10/18/2016</td> 
    </tr>
    <tr>
      <td>Buddy Waddington</td>
      <td>Senior Product Marketing Manager, Founder of BEA</td>
      <td>Magnolia Medical Technologies</td> 
      <td>10/04/2016</td>     
    </tr>
    <tr>
      <td>John O'Dore</td>
      <td>Principal & Managing Director</td>
      <td>Meridian Capital</td>    
      <td>05/10/2016</td>  
    </tr>
    <tr>
      <td>Aubrey Bach</td>
      <td>Marketing Manager</td>
      <td>PayScale</td>
      <td>02/23/2016</td>      
    </tr>
    <tr>
      <td>Scott Rethke</td>
      <td>Branch Manager</td>
      <td>Ameriprise Financial</td> 
      <td>01/26/2016</td>     
    </tr>
    <tr>
      <td>Brad Miyake</td>
      <td>City Manager</td>
      <td>City of Bellevue</td>
      <td>01/12/2016</td>      
    </tr>
    <tr>
      <td>Jennifer Macaulay</td>
      <td>Owner, President</td>
      <td>Macaulay Consulting</td>
      <td>11/17/2015</td>      
    </tr>
    <tr>
      <td>Timothy McCormack</td>
      <td>UW Business Law Professor, IP Attorney, Co-Owner</td>
      <td>Antoine Creek Farms</td> 
      <td>11/03/2015</td>      
    </tr>
    <tr>
      <td>Roland Mitchell</td>
      <td>Manager, Ethics Advisor</td>
      <td>Boeing</td>   
      <td>10/20/2015</td>    
    </tr>
    <tr>
      <td>Vicki Wagner</td>
      <td>Executive Director</td>
      <td>Youth Suicide Prevention Program</td> 
      <td>10/13/2015</td>      
    </tr>
    <tr>
      <td>David Bluhm</td>
      <td>Chief Executive Officer</td>
      <td>DropForge Games</td>
      <td>05/28/2015</td>       
    </tr>
    <tr>
      <td>Jack McMillan</td>
      <td>Former Co-Chairman</td>
      <td>Nordstrom</td> 
      <td>05/14/2015</td>      
    </tr>
    <tr>
      <td>Jeff Ericson</td>
      <td>President</td>
      <td>Camano Island Coffee Roasters</td> 
      <td>02/26/2015</td>      
    </tr>
    <tr>
      <td>Greg Brumley</td>
      <td>Loss Prevention Director</td>
      <td>Outerwall</td>
      <td>01/08/2015</td>       
    </tr>
  </table>  
</div>