<div id="content">
  <h1>SPONSORS</h1>
  <h4 id="end">As a small organization, BEA has relied on funding from sponsors who are heavily invested in ethical practices. You may hear from business professionals working for our sponsors during our speaker meetings. Below is a list of our amazing sponsors!</h4> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <a href="https://www.accesshma.com/"><img id="hma" src="img/icons/hma.png"></img></a>
      </div>
      <div class="col-md-6">
        <h2 id="sponsor">HEALTHCARE MANAGEMENT ADMINISTRATORS (HMA)</h2>
        <h4>HMA is a third party administrator of self-insured health plans based in Bellevue, WA. HMA thrives on providing amazing service, flexible options, and innovative solutions to customers. Employees who work for HMA enjoy various wellness benefits and volunteer opportunities.</h4>
        <h4>HMA demonstrates outstanding ethical practices through its commitment to creating a healthier future - each client, every time.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="http://www.lynden.com/index.html"><img id="lynden" src="img/icons/lynden.jpg"></img></a>
      </div>
      <div class="col-md-6">
        <h2 id="sponsor">LYNDEN INC.</h2>
        <h4>Lynden Incorporated is a freight shipping and logistics company based in SeaTac, WA. Lynden handles transportation via land, water, and air in various regions such as Alaska, Western Canada, and Russia. Industries that Lynden handles include oil, gas, mining, construction, retail, and manufacturing.</h4>
        <h4>Lynden demonstrates excellent ethical practices by delivering quality service to its customers and putting them first.</h4>
      </div>
    </div>
  </div>
</div>